div{
    border: 1px black solid;
    margin: none;
    padding: none;
    height: auto;
    width: 100%;
    text-align: center;
}

body{
    padding-left: 5%;
}

input{
    width: 100%;
    height: 100%;
}

#popup{
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    width: auto;
    background-color: azure;
}

.dropdown{
    width: 100%;
    height: auto;
}

.floatL{
    float: left;
}

.threeColumn{
    width: 30%;
    height: 1800px;
    float: left;
}

#upperStatsParent{
    width: 100%;
    height: 100px;
}

#inspirationParent{
    width: inherit;
    height: 49%;
}

#proficiencyBonusParent{
    width: inherit;
    height: 49%;
}

#inspiration{
    height: 100%;
    width: 25%;
}

#inspirationTitle{
    height: 100%;
    width: 74%;
}

#proficiencyBonus{
    height: 100%;
    width: 25%;
}

#proficiencyBonusTitle{
    height: 100%;
    width: 74%;
}

.abilityTitle{
    height: 30px;
    width: 100%;
}

.abilityScoreParent{
    float: left;
    width: 30%;
    height: 88px;
}

.abilitySkillsParent{
    float: left;
    width: 69%;
}

.abilityStats{
    height: 130px;
}

.skillParent{
    height: 20px;
}

.skill{
    float: left;
    height: 100%;
    width: 20%;
}

.skillTitle{
    float: left;
    height: 100%;
    width: 57%;
}

.abilityScore{
    height: 65%;
}

.abilityModifier{
    height: 34%;
}

#passivePerceptionTitle{
    float: left;
    width: 74%;
    height: 100%;
}

#passivePerception{
    float: left;
    width: 25%;
    height: 100%;
}

#passivePerceptionParent{
    height: 50px;
}

#featsTitle{
    height: 30px;
}

.featSlot{
    height: 39px;
}

.detailsParent{
    height: 50px;
}

.detailParent{
    height: 100%;
    width: 49.5%;
    float: left;
}

.detail{
    height: 70%;
}

.combat{
    height: 75%;
}

.detailTitle{
    font-size: 10px;
}

.detailColumn{
    height: 100%;
    width: 32.5%;
    float: left;
}

.combatParent{
    height: 70px;
}

.personalityTrait{
    height: 50px;
}

#backgroundParent{
    height: 50px;
}

#backgroundTitle{
    height: 100%;
    width: 49%;
    float: left;
}

#background{
    float: left;
    height: 100%;
    width: 50%;
}

#circleParent{
    height: 400px;
}

#upperCircleParent{
    height: 14%;
}

#lowerCircleParent{
    height: 86%;
}

#ACParent{
    height: 100%;
    width: 14%;
    float: left;
}

#upperCircle{
    height: 100%;
    width: 85%;
    float: left;
}

.circleTitle{
    font-size: 9px;
    height: 30%;
}

.circleElement{
    height: 69%;
}

#hitDiceParent{
    height: 49%;
}

#temporaryHitPointsParent{
    height: 49%;
}

#hitDice{
    height: 60%;
}

#temporaryHitPoints{
    height: 45%;
}

#hitPointsParent{
    height: 20%;
}

.twoColumn{
    width: 49%;
    float: left;
}

#totalHitPoints{
    height: 55px;
}

#currentHitPoints{
    height: 55px;
}

#levelParent{
    height: 40%;
}

#One{
    height: 50%;
}

#Two{
    height: 50%;
}

.levelElement{
    height: 53px;
}

#deathSavesParent{
    height: 38%;
}

#successParent{
    height: 35%;
}

#failureParent{
    height: 35%;
}

.deathSaves{
    height: 100%;
}

#deathSavesTitle{
    height: 27%;
}

#proficienciesParent{
    height: 794px;
}

#proficienciesTitle{
    height: 30px;
}

#proficiencies{
    height: 760px;
}

.proficiencySlot{
    height: 9.8%;
}

#wealthParent{
    height: 100px;
}

#moneyParent{
    height: 68px;
}

#wealthTitle{
    height: 28px;
}

.fiveColumn{
    width: 19.5%;
    float: left;
    height: 100%;
}

.moneySlot{
    height: 68%;
}

.moneyTitle{
    height: 29%;
}

#attacksParent{
    height: 250px;
}

.short{
    height: auto;
}

#weaponsParent{
    width: 38%;
}

.weaponSlot{
    height: 26.9px;
}

#armorParent{
    height: 190px;
}

.armorSlot{
    height: 30px;
}

.armorElement{
    height: 99%;
    float: left;
    width: 15%;
}

.armor{
    width: 68%;
}

#itemsTitle{
    height: 50px;
    font-size: 30px;
}

#itemsParent{
    height: 1250px;
}

.itemSlot{
    height: 30.5px;
}








































